@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* From Uiverse.io by levxyca */ 
button {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.75;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;

}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
